.agency_details_container {
	width: 80%;
	margin: 0 auto;
}
.profile_container {
	display: flex;
	align-items: center;
	gap: 20px;
}
.profile_img {
	max-width: 150px;
}
.agency_name {
	font-size: 1.5rem;
}
.rating_section {
	display: flex;
	align-items: center;
	gap: 5px;
}
/* Mobile devices (280px to 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
	.agency_details_container {
		width: 95%;
	}
	.profile_container {
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.agency_details_container {
		width: 90%;
	}
}
