.offering_container {
  width: 75%;
  margin: 0 auto;
}
.offering_row_container {
  background-color: rgb(240, 230, 230);
  border-radius: 5px;
}
.offering_details_container {
  line-height: 40px;
}
.offering_details_container h1 {
  font-size: 2rem;
}
/* Mobile devices (320px to 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Your CSS styles for mobile devices go here */
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Your CSS styles for iPads and tablets go here */
}

/* Small screens and laptops (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .offering_container {
    width: 85%;
  }
  .offering_details_container h1 {
    font-size: 1.7rem;
  }
}
