.header_container {
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
}

.nav_container {
	display: flex;
	gap: 20px;
	font-size: 21px;
	color: white;
	margin: '10px';
}

.nav_container_mobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
	height: 100%;
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (max-width: 768px) {
	.header_container {
		padding: 15px;
	}
	.nav_container {
		display: none;
	}
	.nav_container_mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
}
/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 769px) {
	.nav_container_mobile {
		display: none;
	}
	.header_container {
		display: none;
	}
}
