.parallox {
	background-image: url('../../../../../assets/1jx9.gif');
	height: 90vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero_container {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
	background-color: var(--secondary-color);
	color: rgb(255, 255, 255);
}
.search_field_container {
	padding-top: 15px;
	width: 50%;
	display: block;
	margin: 5px auto;
}

.banner_info {
	width: 100%;
	padding: 15px;
	text-align: center;
}
.banner_info h1 {
	font-size: 4.5rem;
	padding: 15px;
	color: white;
}
.banner_info h2 {
	font-size: 2.4rem;
	padding: 10px;
	color: white;
}
/* Mobile devices (320px to 480px) */
@media only screen and (min-width: 300px) and (max-width: 480px) {
	.hero_container {
		margin-top: 50px;
	}
	.search_field_container {
		width: 75%;
		display: block;
	}
	.banner_info {
		background-color: transparent;
	}
	.banner_info h1 {
		font-size: 2rem;
	}
	.banner_info h2 {
		font-size: 1.4rem;
	}
	.hero_container {
		width: 95%;
	}
}
/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.hero_container {
		margin-top: 50px;
	}
	.search_field_container {
		width: 75%;
		display: block;
	}
	.banner_info {
		background-color: transparent;
	}
	.banner_info h1 {
		font-size: 2.8rem;
	}
	.banner_info h2 {
		font-size: 1.7rem;
	}
	.hero_container {
		width: 90%;
	}
}

/* Small screens and laptops (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.cover_banner h1 {
		font-size: 2.5rem;
	}
	.banner_info h2 {
		font-size: 1.4rem;
	}
}
