.profile_container {
	width: 100%;
	margin: 0 auto;
	margin-top: 35px;
}
.profile_image_container {
	display: flex;
	align-items: center;
	gap: 15px;
}
.profile_container_mobile {
	display: none;
}
.profile_info {
	display: flex;
	gap: 50px;
	font-size: 15px;
	font-weight: bold;
}
.agency_name {
	font-size: 1.7rem;
}
.rating_section {
	display: flex;
	gap: 5px;
}
.edit_button {
	margin-top: 10px;
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (max-width: 968px) {
	.profile_image_container {
		flex-direction: column;
		align-items: start;
	}
	.profile_container_mobile {
		display: block;
	}
	.edit_button {
		position: absolute;
		top: 25px;
		right: 25px;
	}
}

/* Small screens and laptops (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
