.container {
	background-color: var(--accent-color);
	padding: 15px;
	text-align: justify;
}
.footer_info {
	line-height: 21px;
	font-size: 17px;
}
.footer_info h4 {
	font-size: 1.5rem;
	margin: 10px 0;
}
.footer_info a {
	display: block;
	color: var(--primary-color);
	line-height: 35px;
}
.footer_info a:hover {
	color: var(--button-color);
}

.icons_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons {
	display: flex;
	gap: 10px;
}
.icons a {
	color: var(--primary-color);
}
.icons a:hover {
	color: var(--button-color);
}
