.plan_banner_container {
  width: 80%;
  margin: 0 auto;
}

/* Mobile devices (320px to 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  .plan_banner_container {
    width: 100%;
  }
}
