:root {
	--primary-color: #327012;
	--accent-color: #d5e2e2;
	--button-color: #327012;
	--secondary-color: #40434392;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: var(--button-color);
}
Link {
	color: black;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(47, 46, 46);
}
hr {
	background-color: gray;
	margin: 20px 0;
}
.landing_page_container {
	width: 80%;
	margin: 0 auto;
}

/* Mobile devices (320px to 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
	/* Your CSS styles for mobile devices go here */
	.landing_page_container {
		width: 95%;
		margin: 0 auto;
	}
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	/* Your CSS styles for iPads and tablets go here */
	.landing_page_container {
		width: 90%;
		margin: 0 auto;
	}
}

/* Small screens and laptops (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	/* Your CSS styles for small screens and laptops go here */
}

/* Desktops and large screens (1025px to 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	/* Your CSS styles for desktops and large screens go here */
}

/* Extra large screens and TVs (1201px and above) */
@media only screen and (min-width: 2001px) {
	.extra_large_layout {
		width: 1200px;
		margin: 0 auto;
	}
	.landing_page_container {
		width: 1200px;
		margin: 0 auto;
	}
	.landing_page_banner_container {
		width: 1200px;
		margin: 0 auto;
	}
	/* Your CSS styles for extra large screens and TVs go here */
}
