.container {
	width: 80%;
	margin: 0 auto;
}
.container h2 {
	margin: 15px 0;
	font-size: 1.5rem;
}
/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	/* Your CSS styles for iPads and tablets go here */
	.container {
		width: 95%;
		margin: 0 auto;
	}
}

/* Extra large screens and TVs (1201px and above) */
@media only screen and (min-width: 2001px) {
	.container {
		width: 1200px;
		margin: 0 auto;
	}
}
