.offering_row_container {
	background-color: rgba(216, 215, 215, 0.481);
	margin: 20px 0;
}
.offering_details_container {
	line-height: 40px;
	text-align: center;
}
.offering_details_container h1 {
	font-size: 2rem;
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (max-width: 768px) {
	.offering_details_container {
		padding: 40px 10px;
		margin: 0;
	}
	.offering_details_container h1 {
		font-size: 2.5rem;
		margin: 20px 0;
	}
}
