.details_header_section {
  margin: 10px 0;
}
.details_card_container {
  width: 80%;
  margin: 50px auto;
  display: block;
}
.book_button {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 50px;
}
/* iPads and Tablets (481px to 768px) */
@media only screen and (max-width: 768px) {
  .details_card_container {
    width: 95%;
    margin-top: 50px;
  }
  .book_button {
    justify-content: center;
    margin-right: 0;
    margin-top: 30px;
  }
}
