.desktop_header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.mobile_header_container {
	display: none;
}

.navigation_item_container {
	display: flex;
	gap: 15px;
	font-size: 18px;
	align-items: center;
}
.desktop_navigation_item:hover {
	box-shadow:
		rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.list_container {
	display: flex;
	gap: 10px;
}
.nav_item {
	border: '1px solid var(--primary-color) ';
	font-weight: 'bold';
	color: 'var(--primary-color)';
	padding: '5px';
}
.nav_item:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation_item {
	text-align: center;
	display: inline-flex;
	font-size: 20px;
	color: var(--button-color);
	font-weight: bold;
}

.navigation_item:hover {
	color: var(--button-color);
}

.mobile_navigation_item:hover {
	color: var(--button-color);
}
.drawer_container {
	display: none;
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (max-width: 768px) {
	.desktop_header_container {
		display: none;
	}
	.mobile_header_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 10px;
		height: 100%;
	}
	.drawer_container {
		display: block;
	}
	.mobile_navigation_item {
		text-align: center;
		display: block;
		margin: 15px 0;
		padding: 10px;
		font-size: 23px;
		border: 1px solid var(--button-color);
		box-shadow: 0 4px 6px rgba(9, 80, 18, 0.1);
		color: var(--button-color);
		font-weight: bold;
	}
}

/* Small screens and laptops (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.navigation_item {
		font-size: 18px;
	}
}
/* Extra large screens and TVs (1201px and above) */
@media only screen and (min-width: 1801px) {
	.landscape_container {
		width: 1200px;
		margin: 0 auto;
	}
	.desktop_header_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}
	/* Your CSS styles for extra large screens and TVs go here */
}
