/* Mobile devices (320px to 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.desktop_sideBar {
		display: none;
	}
}

/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.desktop_sideBar {
		display: none;
	}
}

/* Small screens and laptops (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.profile_container {
		width: 90%;
		margin: 0 auto;
		margin-top: 35px;
	}
}
