/* .featured_container {
	width: 80%;
	margin: 50px auto;
	margin-bottom: 100px;
} */
.featured_header {
	font-size: 2rem;
	margin-bottom: 15px;
}
.tour_details {
	padding: 5px;
	line-height: 35px;
}
.tour_details h4 {
	font-size: 1.2rem;
}
.tour_details p {
	font-size: 18px;
}
.planCard_container {
	margin: 10px;
}
/* Mobile devices (320px to 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
	.planCard_container {
		margin: 5px;
	}
}
/* iPads and Tablets (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.agency_card_container {
		width: 80%;
	}
}
