.agency_container {
	transition: 0.5s;
	cursor: pointer;
	box-shadow:
		rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
		rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.agency_container:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.popular_agency_card {
	min-height: 280px;
	margin-top: 10px;
	cursor: pointer;
}

.agency_details {
	padding: 10px;
}
.agency_details h3 {
	font-size: 1.2rem;
}
.agency_img {
	height: 200px;
	width: 100%;
}
.mobile_header {
	display: none;
}
/* iPads and Tablets (481px to 768px) */
@media only screen and (max-width: 768px) {
	.agency_img {
		height: 100%;
		width: 100%;
	}
	.mobile_header {
		display: block;
	}
	.desktop_header {
		display: none;
	}
}
